<h3 class="toCenter">Account confirmation</h3>
<div class="toCenter" *ngIf="!isConfirmed">
    <b>Confirm your email adress</b>
    <p>We have sent an email with a confirmation link to your email address. In order to complete the sign-up process,
        please click the confirmation link.</p>
    <p>If you don't receive a confirmation email, please check your spam folder.</p>
</div>
<div class="toCenter" *ngIf="isConfirmed">
    <p>Dear
        <span class = "highlight"> {{greetingsName}} </span>
        , thank you for your registration!</p>
    <button mat-button (click)="continue()">Continue</button>
</div>