<h3>Orders</h3>
<table mat-table [dataSource]="authors" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let author"> {{author.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let author"> {{author.name}} </td>
    </ng-container>

    <ng-container matColumnDef="printingEditions">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td class="td-list" mat-cell *matCellDef="let author" > 
            <p *ngFor="let item of author.printingEditions">{{item}}</p>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td   class="td-button" mat-cell *matCellDef="let row">
            <button mat-icon-button>
                    <i mat-icon class="material-icons">create</i>
                 </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td   class="td-button" mat-cell *matCellDef="let row">
                <button mat-icon-button>
                    <i mat-card-image class="material-icons">clear</i>
                </button>
            </td>
        </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event">
</mat-paginator>