<form [formGroup]="passwordeForm">
    <div>
        <mat-form-field>
            <input matInput [type]="isCurrentPasswordHidden ? 'password' : 'text'" placeholder="Current Password"
                formControlName="currentPassword" required>
            <mat-error *ngIf="passwordeForm.get('currentPassword').hasError('required')">
                Please input your current password
            </mat-error>
            <mat-error *ngIf="passwordeForm.get('currentPassword').hasError('minlength')">
                Password must be at least {{commonConstants.passwordLength}} characters long
            </mat-error>
            <mat-error *ngIf="passwordeForm.get('currentPassword').hasError('pattern')">
                Password must consist alpha, uppercase and number
            </mat-error>
            <button mat-icon-button matSuffix (click)="isCurrentPasswordHidden = !isCurrentPasswordHidden">
                <i mat-icon class="material-icons">{{isCurrentPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
            </button>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <input matInput [type]="isNewPasswordHidden ? 'password' : 'text'" placeholder="Password"
                formControlName="password" required>
            <mat-error *ngIf="passwordeForm.get('password').hasError('required')">
                Please input new password
            </mat-error>
            <mat-error *ngIf="passwordeForm.get('password').hasError('minlength')">
                Password must be at least {{commonConstants.passwordLength}} characters long
            </mat-error>
            <mat-error *ngIf="passwordeForm.get('password').hasError('pattern')">
                Password must consist alpha, uppercase and number
            </mat-error>
            <button mat-icon-button matSuffix (click)="isNewPasswordHidden = !isNewPasswordHidden">
                <i mat-icon class="material-icons">{{isNewPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
            </button>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput [type]="isConfirmPasswordHidden ? 'password' : 'text'" placeholder="Confirm password"
                formControlName="confirmPassword" [errorStateMatcher]="crossFieldMatcher" required>
            <mat-error
                *ngIf="passwordeForm.get('confirmPassword').hasError('required')">
                Please confirm new password
            </mat-error>
            <mat-error *ngIf="passwordeForm.hasError('mismatch')">
                It doesn't match password
            </mat-error>
            <button mat-icon-button matSuffix (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden">
                <i mat-icon class="material-icons">{{isConfirmPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
            </button>
        </mat-form-field>
    </div>
</form>
<br>
<div class="space-between">
    <span>
        <button mat-stroked-button [disabled]="passwordeForm.invalid" (click)="changePassword()">Confirm</button>
    </span>
    <span>
        <button mat-stroked-button (click)="close()">Cancel</button>
    </span>
</div>