<mat-card>
    <div class="toCenter">
        <mat-icon>face</mat-icon>
        <mat-card-title>Login</mat-card-title>
    </div>

    <form [formGroup]="loginValidations">
        <div class="toCenter">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="loginValidations.get('email').hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="loginValidations.get('email').hasError('pattern')">
                    Please, enter a valid email
                </mat-error>
            </mat-form-field>
        </div>
        <div class="toCenter">
            <mat-form-field>
                <input matInput placeholder="Password" [type]="isPasswordHidden ? 'password' : 'text'"
                    formControlName="password">
                <mat-error *ngIf="loginValidations.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="loginValidations.get('password').hasError('pattern')">
                    Please, enter a valid password
                </mat-error>
                <mat-error *ngIf="loginValidations.get('password').hasError('minlength')">
                    Password should has at least {{commonConstants.passwordLength}} characters
                </mat-error>
                <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden">
                    <i mat-icon
                        class="material-icons">{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
                </button>
            </mat-form-field>
        </div>
    </form>
    <br>

    <div class="space-around">
        <mat-checkbox checked="true" [(ngModel)]="isRemembered"> Remember me</mat-checkbox>

        <a class=" helpRef" routerLink = {{route.forgotPassword}}>
            Forgot password?
        </a>
    </div>
    <div class="toCenter">
        <button mat-stroked-button [disabled]="loginValidations.invalid" (click)="login()">Login</button> </div>
    <br>
    <div class="toCenter">
        <p>Have no account?
            <a class="myLink" routerLink = {{route.register}}> Registrate</a>
        </p>
    </div>
</mat-card>
