<div class="width">
    <h3>
        <div class="space-between">
            <span class="header">
                <div class="space-around">
                    <span>
                        <mat-icon class="big-icon">face</mat-icon>
                    </span>
                    <span>
                        My Profile
                    </span>
                </div>
            </span>
            <span>
                <button mat-icon-button (click)="isEditing=!isEditing;turnOnEditionMode()" [disabled]="isEditing==true">
                    <i mat-card-image class="material-icons" matTooltip="Edit profile">edit</i>
                </button>
            </span>
        </div>
    </h3>
    <p>{{isEditing}}</p>

    <form [formGroup]="userProfileForm">
        <div>
            <mat-form-field>
                <input matInput matInput placeholder="First name" formControlName="firstName"
                    [attr.disabled]="!isEditing ? true : null">
                <mat-error *ngIf="userProfileForm.get('firstName').hasError('maxlength')">
                    First name to long
                </mat-error>
                <mat-error *ngIf="userProfileForm.get('firstName').hasError('pattern')">
                    Please enter correct firstname
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Last name" formControlName="lastName"
                    [attr.disabled]="!isEditing ? true : null">
                <mat-error *ngIf="userProfileForm.get('lastName').hasError('pattern')">
                    Last name must consist only characters a-z
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required
                    [attr.disabled]="!isEditing ? true : null">
                <mat-error *ngIf="userProfileForm.get('email').hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="userProfileForm.get('email').hasError('pattern')">
                    Please, enter a valid Email
                </mat-error>
            </mat-form-field>
        </div>
    </form>

    <div>
        <button class="button" mat-button *ngIf="isEditing" (click)="cancel()">Cancel</button>
        <button mat-button class="button" *ngIf="isEditing" [disabled]="userProfileForm.invalid"
            (click)="edit();isEditing=false">Save</button>
    </div>
</div>
<div>
    <button class="button" mat-button (click)="openChangePasswordDialiog()">Change password</button>
</div>