<mat-card>
    <div class="toCenter">
        <mat-icon class="big-icon">face</mat-icon>
        <mat-card-title>Registration</mat-card-title>


        <form [formGroup]="registrationForm">
            <div>
                <mat-form-field>
                    <input matInput matInput placeholder="First name" formControlName="firstName">
                    <mat-error *ngIf="registrationForm.get('firstName').hasError('maxlength')">
                        First name to long
                    </mat-error>

                    <mat-error *ngIf="registrationForm.get('firstName').hasError('pattern')">
                        Please enter correct firstname
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Last name" formControlName="lastName">
                    <mat-error *ngIf="registrationForm.get('lastName').hasError('pattern')">
                        Last name must consist only characters a-z
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="registrationForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('email').hasError('pattern')">
                        Please, enter a valid Email
                    </mat-error>
                </mat-form-field>
            </div>
            <div [formGroup]="registrationForm.controls['passwordGroup']">
                <div>
                    <mat-form-field>
                        <input matInput [type]="isPasswordHidden ? 'password' : 'text'" placeholder="Password"
                            formControlName="password" required>
                        <mat-error
                            *ngIf="registrationForm.controls['passwordGroup'].controls['password'].hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error
                            *ngIf="registrationForm.controls['passwordGroup'].controls['password'].hasError('minlength')">
                            Password must be at least {{commonConstants.passwordLength}} characters long
                        </mat-error>
                        <mat-error
                            *ngIf="registrationForm.controls['passwordGroup'].controls['password'].hasError('pattern')">
                            Password must consist alpha, uppercase and number
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden">
                            <i mat-icon
                                class="material-icons">{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
                        </button>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput [type]="isConfirmPasswordHidden ? 'password' : 'text'"
                            placeholder="Confirm password" formControlName="confirmPassword"
                            [errorStateMatcher]="crossFieldMatcher" required>
                        <mat-error
                            *ngIf="registrationForm.controls['passwordGroup'].controls['confirmPassword'].hasError('required')">
                            Please confirm password
                        </mat-error>
                        <mat-error *ngIf="registrationForm.controls['passwordGroup'].hasError('mismatch')">
                            It doesn't match password
                        </mat-error>

                        <button mat-icon-button matSuffix (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden">
                            <i mat-icon
                                class="material-icons">{{isConfirmPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div>
                <button mat-stroked-button [disabled]="registrationForm.invalid"
                    (click)="register()">Registrate</button>
            </div>
        </form>
    </div>
</mat-card>