/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #1797b8;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card{
  width: 500px;
  height: auto;
  margin: auto;
  /*text-align: center;*/
   background-color: rgb(206, 206, 223); 
}

.large-card{
  width: 700px;
}

.mat-form-field{
  width: 300px;
}

.toCenter{
  text-align: center;
}

.toRight{
  text-align: right;
  padding-right: 30px;
}

.space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.space-around{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: auto;
}

.error {
  color : red;
  text-align: center;
}

button{
  background-color: rgb(185, 212, 247);
}

.mat-button{
   background-color: rgb(185, 212, 247);
}

.search{
width: 100px;
}
  
.mat-snack-bar-container{
  color : rgb(102, 37, 37);
  font-weight: bold !important;
  min-width: auto !important;
  background-color: rgb(248, 149, 149) !important;
}

.highlight{
  font-weight: bold;
color: rgb(112, 203, 255);
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: rgb(47, 84, 165);
}