
    <div>
        <p>Are you sure to delete {{data.deletable}}?</p>
    </div>
    
    <div class="space-between">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button (click)="confirm()">Delete</button>
    </div>
