

<h2 *ngIf="data.author.id == 0">New author</h2>
<h2 *ngIf="data.author.id != 0">Edit author</h2>

<form [formGroup]="authorValidations">
    <div class="toCenter">
        <mat-form-field>
            <input matInput placeholder="First name or pseudonym" formControlName="firstName">
            <mat-error *ngIf="authorValidations.get('firstName').hasError('required')">
                Firstname or pseudonim is required
            </mat-error>
            <mat-error *ngIf="authorValidations.get('firstName').hasError('pattern')">
                Please, enter a valid name
            </mat-error>
        </mat-form-field>
    </div>
    <div class="toCenter">
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="authorValidations.get('lastName').hasError('pattern')">
                Please, enter a valid lastname
            </mat-error>
        </mat-form-field>
    </div>
    
    <div class="space-between">
        <button mat-button (click)="cancelClick()">Cancel</button>
        <button mat-button *ngIf="data.author.id == 0" [disabled]="authorValidations.invalid" (click)="addClick()">Add</button>
        <button mat-button *ngIf="data.author.id != 0" [disabled]="authorValidations.invalid" (click)="editClick()">Submit</button>
        
    </div>
</form>