<h3>Users</h3>
<div class="space-between">
    <div>
        <mat-form-field>
            <mat-label>
                <mat-icon matPrefix>search</mat-icon>Search
            </mat-label>
            <input matInput [(ngModel)]="filterModel.searchText">
        </mat-form-field>
        <button *ngIf="filterModel.searchText!=null" mat-icon-button (click)="filterModel.searchText=null; getAll()">
            <i mat-card-image class="material-icons">clear</i>
        </button>
        <button mat-icon-button (click)="getAll()">
            <i mat-card-image class="material-icons">search</i>
        </button>
    </div>
</div>

<table mat-table matSort [dataSource]="users" (matSortChange)="sort($event)">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell class="toCenter" *matHeaderCellDef>
           <div class="toCenter">
            <mat-form-field class="small-field">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="selectedStatuses" multiple>
                <mat-option (click) = "selectStatus($event)" *ngFor="let status of statusSelectionList"  [value]="status">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        </th>
        <td mat-cell class="toCenter" *matCellDef="let element">
              <mat-slide-toggle [checked]="element.status == userStatus.Active ? 'true' : 'false'"
              (change)="block($event,element);">
            </mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="td-button" mat-cell *matCellDef="let element">
            <button mat-icon-button (click)=openDialog(element)>
                <i mat-icon class="material-icons">create</i>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="td-button" mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="delete(element)">
                <i mat-card-image class="material-icons">clear</i>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
</table>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="commonConstant.pageSizeOption"
    showFirstLastButtons (page)="getPage($event)">
</mat-paginator>
