<h2>{{printingEditionModel.title}}</h2>
<!-- <span *ngFor="var author in printingEditionModel.authors">{{author.firstName}} {{author.lastName}} </span>  -->
<div>
    <span>Author: </span>
    <span *ngFor="let author of printingEditionModel.authors">{{author.firstName}} {{author.lastName}}  </span>
</div>
<mat-divider></mat-divider>
<div class = "description">
    <b>Description:</b>
    <p>{{printingEditionModel.description}}</p>
</div>
<div class = "action">
    <input matInput type="number" [(ngModel)]="amount" placeholder="Radius">
    <button mat-button>Add to card</button>
</div>