<h3>Edit user</h3>
<form [formGroup]="userValidations">
    <div class="toCenter">
        <mat-form-field>
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="userValidations.get('firstName').hasError('pattern')">
                Please, enter a valid firstname
            </mat-error>
        </mat-form-field>
    </div>
    <div class="toCenter">
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="userValidations.get('lastName').hasError('pattern')">
                Please, enter a valid lastname
            </mat-error>
        </mat-form-field>
    </div>
    
    <div class="toCenter">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" disabled>
        </mat-form-field>
    </div>
    
    <div class="space-between">
        <button mat-button (click)="cancelClick()">Cancel</button>
        <button mat-button [disabled]="userValidations.invalid" (click)="editClick()">Submit</button>
    </div>
</form>