<mat-card class="large-card">
    <div class="toCenter">
        <i mat-card-image class="material-icons">face</i>
        <mat-card-title>Pasword assistance</mat-card-title>

        <div *ngIf="!isSuccessful">
            <form [formGroup]="emailValidations">
                <p>Enter the email associated with your account</p>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="emailValidations.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="emailValidations.get('email').hasError('pattern')">
                        Please, enter a valid email
                    </mat-error>
                </mat-form-field>
            </form>
            <br>
            <button mat-stroked-button (click)="forgotPassword()">Continue</button>
        </div>
    </div>

    <div *ngIf="isSuccessful">
        <p>You will receive an email with a new password to login onto your email box stated in your personal
            profile</p>
        <p>Please contact our administrator if you don't receive an email massage with a new password.</p>
        <div class="toCenter">
            <button mat-button (click)="toLoginPage()">Continue</button>
        </div>
    </div>
</mat-card>