<h3>Authors</h3>
<div class="space-between">
    <div>
        <mat-form-field>
            <mat-label>
                <mat-icon matPrefix>search</mat-icon>Search
            </mat-label>
            <input matInput [(ngModel)]="filterModel.searchText">
        </mat-form-field>
        <button *ngIf="filterModel.searchText!=null" mat-icon-button (click)="filterModel.searchText=null; getAll()">
            <i mat-card-image class="material-icons">clear</i>
        </button>
        <button mat-icon-button (click)="getAll()">
            <i mat-card-image class="material-icons">search</i>
        </button>
    </div>
    <div>
        <button mat-icon-button  matTooltip="New author" (click)="openDialog()">
            <i mat-card-image class="material-icons">add</i>
        </button>
    </div>
</div>

<table mat-table matSort [dataSource]="authors" (matSortChange)="sort($event)">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let author"> {{author.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let author">{{author.firstName}} {{author.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="printingEditions">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td class="td-list" mat-cell *matCellDef="let author">
            <p *ngFor="let item of author.printingEditions">{{item}}</p>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="td-button" mat-cell *matCellDef="let author">
            <button mat-icon-button (click)=openDialog(author)>
                <i mat-icon class="material-icons">create</i>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="td-button" mat-cell *matCellDef="let author">
            <button mat-icon-button (click)="confirmDelete(author)">
                <i mat-card-image class="material-icons">clear</i>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
</table>
  <!--<table mat-table>
    <tr>
        <th *ngFor = "let header of headers">{{header}}</th>
    </tr> 
    <tr>
        <td *ngFor = "let author of authors">
            {{author}}
        </td>
    </tr>

         <ng-container *ngFor="let author of authors" [matColumnDef] = "author">
          <th mat-header-cell *matHeaderCellDef> {{author}}</th>
          <td mat-cell *matCellDef="let element">{{element[author]}}</td> 
        </ng-container> 
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers;"></tr>
      </table>-->

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="commonConstant.pageSizeOption"
    showFirstLastButtons (page)="getPage($event)">
</mat-paginator> 