
 table {
    width: 100%;
  }
.td-button{
  padding: 0px;
  width: 20px;
  
  }

.material-icons{
  font-size: 20px;
  padding: 0px;
}

.td-list{
  padding: 5px;
}

p{
  margin: 0px
}

 th{ 
  background-color: rgb(217, 250, 247) ;
  font-weight: bold;
  font-size: medium;
} 

mat-input-element{
  width: 100px;
}
